@charset "UTF-8";

body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 98vw;
    height: 95vh;
}
label{
    display: block;
    text-align: center;
    font-size: 5em;
    font-family: Helvetica, sans-serif;
}
#btn-container button{
    padding: 10px 20px;
    font-size: 1.3em;
    background-color: rgb(94, 102, 214);
    color: white;
    cursor: pointer;
    border-radius: 3px;
    transition: background-color 0.25s;
}
#btn-container button:hover{
    background-color: rgb(49, 53, 107);
}